<h2>Edit user</h2>

<% form_for(@user) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= image_tag(gravatar_url(@user.email)) %>
  <a href="http://gravatar.com/emails" target="_blank">change</a>
</div>
